<h3>Book Details</h3>
<div class="container">
    <table class="table table-condensed book-options">
        <tbody>
            <tr>
                <td>Title</td>
                <td>{{book.title}}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>{{book.author}}</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>{{book.author}}</td>
            </tr>
            <tr>
                <td>Publisher name</td>
                <td>{{book.publisherName}}</td>
            </tr>
            <tr>
                <td>Year of publication</td>
                <td>{{book.yearOfPublication}}</td>
            </tr>
            <tr>
                <td>Release date</td>
                <td>{{book.releaseDate}}</td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>{{book.ISBN}}</td>
            </tr>
        </tbody>
    </table>
</div>