.book-element {
    list-style: none;
}

.list {
    margin-top: 40px;
}

.img-real{
    position: relative;
}

.close {
    position: absolute;
    right: 33px;
    top: -12px;
}

.sort-btn {
    margin-right: 10px;
}