input{
    float:right;
}

.form-group{
    padding-bottom: 20px;
}

.book-info{
    width: 300px;
}

.add-author-btn{
    position: absolute;
     left: 265px;
      background-color: #fff;
    }
/* .error{
    border: 1px solid red;
} */